	body
{
	margin: 0;
	padding: 0;
	background-image: url('reg/img/reg.jpg');
    height: 100%;
	background-size: cover;
	
	font-family:'Almarai', sans-serif;
    direction: rtl;
   
}
   
.login-box
{
	width: 320px;
	height: 420px;
	background: rgba(0, 0, 0, .2);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% ,-50%);
	box-sizing: border-box;
	padding: 55px 30px;
    
}
.avatar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
#header
{
text-align: center; 
margin: 20px;
color: #8c1718;
border-radius: 3px;
font-size:35px;
margin-bottom:25px;
    font-weight: 700;
 
	
}
.login-box p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	float: right;
}
.login-box input
{
	width: 100%;
	margin-bottom: 20px;
	float: right;
	
}
.login-box input[type="text"] , input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #840A18;
	font-size: 24px;
	float: right;
	direction: rtl;
	background: #ffffffab;
}
form{
	direction: rtl;
}
.login-box input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	background: #840A18;

}
.login-box input[type="submit"]:hover
{
	cursor: pointer;
	background: #424546;
     color:#fff;

}
.login-box a
{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	float: right;
}
.box-a a
{
	text-decoration: underline;
	font-size: 20px;
	color: #fff;
	float: right;
}
    .box-a a:hover{
        color: #1c8adb;
    }
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 40px;
  font-size: 18px;
  padding: 3px;
  margin: 0;
  background: white;
  height:30px;
}
    #home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
       
}
    .text{
        
        font-size: 22px;
    }
    .fas{
       color: #840A18; 
        
    }
